<div id="<%= dom_id president %>">

<h1> <center> <%= president.name %> </center></h1>
  <h2>
    <center>
      <%= president.comment %>
    </center>
  </h2>

  <center>
    <img src=" <%= president.image_url %>" width="500" height="700" alt="<%= president.name %>"/>
  </center>

</div>
